* {
	font-family: 'Exo', 'Mina'sans-serif;
	font-size: 16px;
}

html,
body {
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #3F0F3F;
	color: white;
}

#map {
	background-color: #3F0F3F;
}

@media (max-width: 1000px) {
	#text-data h3 {
		font-size: 16px;
	}

	#text-data h4 {
		font-size: 14px;
	}
}

@media (min-width: 1000px) {
	#text-data h3 {
		font-size: 20px;
	}

	#text-data h4 {
		font-size: 16px;
	}
}

/* @media (max-width: 768px){
	#legend-colorbar{
		text-align: center;
	}
}

@media (min-width: 768px){
	#legend-colorbar{
		text-align: right;
	}
} */

/* Navbar */
.navbar {
	background-color: #260926;
}

.navbar-brand {
	color: white !important;
}

@media (min-width: 992px) {
	.navbar-item-center {
		margin-left: 2em;
		margin-right: 3em;
	}

	.nav-item {
		padding-left: 5em;
	}
}

.nav-link {
	color: #FFFFFF !important;
	font-size: 1.2em;
}

.footer-dark {
	padding-top: 5em;
	margin-top: 5em;
	width: 100%;
	background-color: #3F0F3F;
	padding-bottom: 5em;
}

.footer-dark-heading {
	text-align: center;
	color: white;
}

.footer-navigation {
	text-align: center;
}

.footer-navigation a {
	color: rgba(255, 255, 255, 0.60);
	font-size: 1em;
}

.footer-navigation a:hover {
	color: rgba(255, 255, 255, 0.90);
}

.footer-icons a {
	text-decoration: none;
}

.fa-whatsapp {
	font-size: 1.7em;
}

.float {
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 20px;
	right: 20px;
	background-color: #CC99CC;
	color: black;
	border-radius: 50px;
	text-align: center;

}

.my-float {
	margin-top: 5px;
}

#latest-update a {
	color: #CC99CC;
}

@keyframes chartfix {
	0% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}

	50% {
		transform: scale(1.01);
		-webkit-transform: scale(1.01);
	}

	100% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

.panel {
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
	animation: chartfix 5s;
	-webkit-animation: chartfix 5s;
}