	<div class="container-fluid footer-dark" style="color: rgb(170, 170, 170);">
		<div class="row ">
			<div class="col-md-4"></div>
			<div class="col-md-4 text-center">

				<br>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4 footer-navigation add-footer-margin-below">
						<a href="about">
							<h3 style="font-weight: 600">About</h3>
						</a><br>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="text-align: center;">

				If you would like to help us out: <br><br>
				<a href="donate"><button type="button" class="btn btn-outline-success donate">
						<strong>DONATE </strong><span class="badge badge-light">₹</span>
					</button></a><br><br>

				Click here for: <a href="disclaimer" style="color: #CC99CC;">Disclaimer</a><br><br>

				<a href="https://www.mohfw.gov.in/" style="color: #CC99CC;">https://www.mohfw.gov.in/</a><br>
				The Helpline Number for corona-virus : +91-11-23978046
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row flex-column" style="margin-top: 3em;">
			<div class="col">
				<h2 class="footer-dark-heading" style="font-family: 'Poppins', sans-serif;"><span
						style="color: #cc99cc; font-size: 1em; font-family: Poppins;">Cov</span>India</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-1 text-center" style="margin-top: 16px;">
				<a href="https://github.com/covindia" style="margin-left: auto;margin-right: auto;display: block;">
					<img src="assets/img/github.svg" alt="Github Link" width="50px">
				</a>
			</div>
			<div class="col-md-2 text-center" style="margin-top: 16px;">
				<a href="https://www.netlify.com" style="margin-left: auto;margin-right: auto;display: block;">
					<img src="https://www.netlify.com/img/global/badges/netlify-light.svg" alt="Deploys by Netlify" />
				</a>
			</div>
			<div class="col-md-1 text-center" style="margin-top: 16px;">
				<a href="https://covindia-api-docs.readthedocs.io/en/latest/"
					style="margin-left: auto;margin-right: auto;display: block;">
					<img src="assets/img/readthedocs.svg" alt="Github Link" width="50px">
				</a>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>