<head>
	<link rel="manifest" href="/manifest.json">
	<link rel="canonical" href="https://covindia.com/">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description"
		content="Live DISTRICT-WISE tracker for Corona-Virus (CoVid 19) in India. Be Safe. Be Calm. Stay Informed.">
	<meta name="keywords" content="Mahindra Ecole Centrale Coronavirus, Coronavirus Visualizer India, Coronavirus India District, Coronavirus India District,
	Covid-19 Visualizer India, Covid-19 Visualizer India District, Corona India District Wise, Corona India Live, Covid India Live, Corona India Detailed, Maharastra Covid,
	Maharastra Corona, Virus, Live Tracking, Mahindra Ecole Centrale Koronavirus, Koronavirus Visualizer India, Koronavirus India District, Koronavirus India District,
	Covid-19 Visualizer India, Covid-19 Visualizer India District, Korona India District Wise, Korona India Live, Covid India Live, Korona India Detailed, Maharastra Covid,
	Maharastra Korona, Virus, Live Tracking" />
	<meta name="author" content="Covindia">

	<title>Covindia</title>

	<!-- Standard Includes -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="../assets/css/buttons.dataTables.min.css">
	<link rel="stylesheet" href="../assets/css/dataTables.bootstrap4.min.css">
	<link rel="shortcut icon" href="assets/img/icons/icon.png">

	<!-- Custom Imports -->
	<link rel="stylesheet" href="assets/css/styles.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mina&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../assets/css/jquery-ui.css">
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/jquery-ui.min.js"></script>

	<script>
		// This is the "Offline page" service worker

		// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

		// Check compatibility for the browser we're running this in
		if ("serviceWorker" in navigator) {
			if (navigator.serviceWorker.controller) {
				console.log("[PWA Builder] active service worker found, no need to register");
			} else {
				// Register the service worker
				navigator.serviceWorker
					.register("sw.js", {
						scope: "./"
					})
					.then(function (reg) {
						console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
					});
			}
		}
	</script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160619251-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-160619251-1');
	</script>
</head>