<nav
  class="navbar fixed-top"
>
  <a
    class="navbar-brand"
    style="font-family: 'Poppins', sans-serifs; padding-bottom: 0;"
    href="/"
  >
    <span style="color: #cc99cc; font-size: 1.3em; font-family: Poppins;"
      >Cov</span
    ><span style="font-size: 1.3em; font-family: 'Poppins';">India</span>
  </a>
    <ul class="nav navbar-nav navbar-item-center">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          style="font-family: 'Poppins'; padding-bottom: 4px;margin-left: 16px;"
          href="about"
          >About</a
        >
      </li>
    </ul>
</nav>
