	<nav class="navbar navbar-custom navbar-expand-md fixed-top " style="align-content: space-between;">
		<a class="navbar-brand" style="font-family: 'Poppins', sans-serifs;padding-bottom: 0;" href="/">
			<span style="color: #CC99CC; font-size: 1.3em;font-family: Poppins;">Cov</span><span
				style="font-size: 1.3em; font-family: 'Poppins';">India</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
			style="color: white;">
			<span style="padding-top:7px;padding-left:0;"><b>Menu</b></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">

			<ul class="nav navbar-nav navbar-item-center">
				<li class="nav-item" role="presentation"><a class="nav-link active"
						style="padding-bottom:4px; font-family: 'Poppins'; font-weight: 100 !important;"
						href="analytics">Analytics</a>
				</li>
				<li class="nav-item" role="presentation"><a class="nav-link active"
						style=" font-family: 'Poppins';padding-bottom:4px;" href="about">About</a></li>
				<!-- <li class="nav-item" role="presentation"><a class="nav-link active"
						style=" font-family: 'Poppins';padding-bottom:4px;" href="zones">Zones</a></li> -->


				<!-- <li class="nav-item float-right"><span class="nav-link" id="last-updated"
						style="font-style: italic; font-family: 'Poppins'; color: #8c598c !important; font-size: 1em; font-weight: lighter;"></span>
				</li> -->
			</ul>

		</div>
	</nav>