	<a href="whatsapp://send?text=CovIndia provides the latest district-wise updates on the spead of the coronavirus in India. Stay Safe. Stay Calm. Be Informed.   https://covindia.com/"
		data-action="share/whatsapp/share" class="float grow">
		<i class="fab fa-whatsapp my-float"></i>
	</a>
	<a href="https://twitter.com/intent/tweet?text=https://covindia.com/ CovIndia provides the latest district-wise updates on the spead of the coronavirus in India. Stay Safe. Stay Calm. Be Informed #COVID2019india #coronavirusindia."
		data-action="share/whatsapp/share" class="float-twitter grow">
		<i class="fab fa-twitter my-float"></i>
	</a>
	<a href="https://www.instagram.com/covindia/" class="float-insta grow">
		<i class="fab fa-instagram my-float"></i>
	</a>