* {
	font-family: 'Exo', 'Mina'sans-serif;
	font-size: 16px;
}

html,
body {
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #3F0F3F;
	color: white;
}

#map {
	background-color: #3F0F3F;
}

@media (max-width: 1000px) {
	#text-data h3 {
		font-size: 16px;
	}

	#text-data h4 {
		font-size: 14px;
	}
}

@media (min-width: 1000px) {
	#text-data h3 {
		font-size: 20px;
	}

	#text-data h4 {
		font-size: 16px;
	}
}

/* @media (max-width: 768px){
	#legend-colorbar{
		text-align: center;
	}
}

@media (min-width: 768px){
	#legend-colorbar{
		text-align: right;
	}
} */

/* Navbar */
.navbar {
	background-color: #260926;
}

.navbar-brand {
	color: white !important;
}

.navbar-item-center {
	margin-left: 3em;
	margin-right: 3em;
}

.nav-link {
	color: #FFFFFF !important;
	font-size: 1.2em;
}

.footer-dark {
	padding-top: 5em;
	margin-top: 5em;
	width: 100%;
	background-color: #3F0F3F;
	padding-bottom: 5em;
}

.footer-dark-heading {
	text-align: center;
	color: white;
}

.footer-navigation {
	text-align: center;
}

.footer-navigation a {
	color: rgba(255, 255, 255, 0.60);
	font-size: 1em;
}

.footer-navigation a:hover {
	color: rgba(255, 255, 255, 0.90);
}


.whatsapp-share {
	background-color: #25d366;
	border-radius: 50px;
	text-align: center;
	height: 60px;
}

.social-icon {
	font-size: 18px;
	color: #ffffff;
}

.social-icon:hover {
	text-decoration: none;
	color: white;
}

.whatsapp-icon {
	font-size: 30px;
}

.footer-icons a {
	text-decoration: none;
}

.fa-whatsapp {
	font-size: 2em;
}

.float {
	position: fixed;
	width: 70px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	padding-bottom: 67px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	/* font-size:30px; */
	z-index: 100;
}

.my-float {
	margin-top: 16px;
	color: white;
}

.fa-whatsapp:hover {
	color: #25d366;
}