* {
  font-family: sans-serif;
  font-size: 16px;
}

html,
body {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3f0f3f;
  color: white;
}

#map {
  background-color: #3f0f3f;
}

@media (max-width: 1000px) {
  #text-data h3 {
    font-size: 16px;
  }

  #text-data h4 {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  #text-data h3 {
    font-size: 20px;
  }

  #text-data h4 {
    font-size: 16px;
  }
}

/* @media (max-width: 768px){
	#legend-colorbar{
		text-align: center;
	}
}

@media (min-width: 768px){
	#legend-colorbar{
		text-align: right;
	}
} */

/* Navbar */
.navbar {
  background-color: #260926;
  z-index: 10000;
}

.navbar-brand {
  color: white !important;
}

@media (min-width: 992px) {
  .navbar-item-center {
    margin-left: 2em;
    margin-right: 3em;
  }

  .nav-item {
    padding-left: 5em;
  }
}

.nav-link {
  color: #ffffff !important;
  font-size: 1.2em;
}

.footer-dark {
  padding-top: 5em;
  margin-top: 5em;
  width: 100%;
  background-color: #3f0f3f;
  padding-bottom: 5em;
}

.footer-dark-heading {
  text-align: center;
  color: white;
}

.footer-navigation {
  text-align: center;
}

.footer-navigation a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1em;
}

.footer-navigation a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.footer-icons a {
  text-decoration: none;
}

.fa-whatsapp {
  font-size: 1.7em;
}

.float {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  background-color: #cc99cc;
  color: #303030;
  text-align: center;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: box-shadow 0.3s;
}

.fab {
  text-shadow: 1px 1px #3f3f3f;
}

.my-float {
  margin-top: 5px;
}

.my-float:hover {
  color: #3f3f3f;
}

#latest-update a {
  color: #cc99cc;
}

@keyframes chartfix {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  50% {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.panel {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation: chartfix 5s;
  -webkit-animation: chartfix 5s;
}

@media (max-width: 768px) {
  .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .tooltip-inner {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.float-twitter {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 70px;
  background-color: #cc99cc;
  color: #303030;
  border-radius: 50px;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.float-insta {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 120px;
  background-color: #cc99cc;
  color: #303030;
  border-radius: 50px;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;

}

.fa-instagram {
  font-size: 1.7em;
}

.float-twitter-2 {
  width: 40px;
  height: 40px;
  background-color: #cc99cc;
  color: #303030;
  border-radius: 50px;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.float-insta-2 {
  width: 40px;
  height: 40px;
  background-color: #cc99cc;
  color: #303030;
  border-radius: 50px;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}


.float-2 {
  width: 40px;
  height: 40px;

  background-color: #cc99cc;
  color: #303030;
  border-radius: 50px;
  text-align: center;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: box-shadow 0.3s;
}

.fa-twitter {
  font-size: 1.7em;
}

#body-about a {
  color: #cc99cc;
}

a:hover {
  color: #3f3f3f;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.no-dec a {
  color: #cc99cc;
}

.no-dec a:hover {
  text-decoration: none;
  color: #7e4e8a;
}

.tweet a:hover {
  text-decoration: none;
}

.tweet a {
  color: #cc99cc;
}

.donate {
  border-color: #cc99cc;
  color: #cc99cc;
}

.donate:hover {
  background-color: #cc99cc;
  color: #e5e5e5;
  border-color: #cc99cc;
}

.grad_card {
  border-radius: 25px;
  background: linear-gradient(#20033c 0%, #303 100%);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.53);
  margin: 10px;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}

.gif-card {
  padding: 15px;
}

.wrapper {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  #myChart {
    background-color: #260926;
    border-radius: 10px;
  }

  #newDailyCases,
  #myChartMobile,
  #newDailyCasesMobile,
  #stateGraphMobile {
    background: linear-gradient(#20033c 0%, #303 100%);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.53);
    border-radius: 10px;
  }

  #stateCases {
    background-color: #260926;
    border-radius: 10px;
  }

  #legend {
    height: 15px;
  }

  #max-infected {
    font-size: 12px;
  }

  .grad_card {
    display: none;
  }
}

.stats {
  display: flex;
  flex-direction: row;
}

.stat-card {
  flex: 1;
  border-radius: 20px;
  background: linear-gradient(#20033c 0%, #070000 100%);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.53);
  /* height: 160px; */
  margin: 10px;
  width: 272px;
}

.stat-title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 5px;
  display: flex;
}

#infected-desk {
  font-family: "Poppins";
  font-weight: 300;
  text-align: center;
  color: #eada0a;
  opacity: 0.64;
  font-size: 3.2rem !important;
  flex: 1;
}

.stat-image {
  width: 80px;
  height: 80px;
  opacity: 0.65;
}

.stat-wrapper {
  display: flex;
  flex: 1;
  height: 80px;
}

#cured-desk {
  flex: 1;
  font-family: "Poppins";
  font-weight: 300;
  text-align: center;
  color: #00ef00;
  opacity: 0.64;
  font-size: 3.2rem !important;
}

.death-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: #958686;
  opacity: 0.69;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 5px;
  display: flex;
}

#deaths-desk {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 3.2rem !important;
  text-align: center;
  color: #958686;
  opacity: 0.69;
}

.death-extra {
  /* align-items: center !important; */
  justify-content: center !important;
}

.slick-dots li button:before {
  color: #cc99cc;
}

.slick-wrapper {
  margin-top: 10px;
}

.slick-next:before,
.slick-prev:before {
  color: #cc99cc !important;
}

#infected-sub-title {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #9a8a0e;
}

#saved-sub-title {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #2f8b0a;
}

#informed-sub-title {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #6d5c66;
}

.stat-death {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #fff;
  opacity: 0.99;
  text-shadow: 0px 0px 2px #fff;
}

#states_wrapper {
  overflow-x: scroll;
}