.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
  padding-top: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.help-button {
  height: 250px;
  width: 250px;
  border-radius: 200px;
  font-size: 1.2rem;
  background-color: #ec4849;
  border: none;
  color: white;
  margin: 20px;
}

.img-icon {
  height: 160px;
  padding-left: 30px;
  margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .help-button {
    height: 120px;
    width: 120px;
    border-radius: 120px;
    font-size: 1rem;
    background-color: #ec4849;
    border: none;
    color: white;
    margin: 10px;
  }

  .img-icon {
    height: 70px;
    padding-left: 15px;
    margin-top: 8px;
  }

  h4 {
    font-size: 12px;
  }

  /* .App-header {
    padding-top: 25%;
  } */
}
