.App {
  text-align: center;
}

.btn-text {
  font-size: 24px;
  text-transform: capitalize !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
  padding-top: 10%;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.help-button {
  height: 250px;
  width: 250px;
  border-radius: 200px;
  font-size: 1.2rem;
  background-color: #ec4849;
  border: none;
  color: white;
  margin: 20px;
}

.img-icon {
  height: 160px;
  padding-left: 30px;
  margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .help-button {
    height: 120px;
    width: 120px;
    border-radius: 120px;
    font-size: 1rem;
    background-color: #ec4849;
    border: none;
    color: white;
    margin: 10px;
  }

  .img-icon {
    height: 70px;
    padding-left: 15px;
    margin-top: 8px;
  }

  .btn-text {
    font-size: 12px;
    text-transform: capitalize !important;
  }

  /* .App-header {
    padding-top: 25%;
  } */
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

#icon_telephone {
  color: white;
}

.page-footer {
  padding-top: 0px !important;
  background-color: #282c34;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=tel]:not(.browser-default) {
  border-bottom: none !important;
}